.swiperContainer { width: 100%; z-index: 10; overflow: hidden; } 

.bestItem { width: auto; } 
.bestItem .product { display: flex; flex-direction: column; align-items: center; gap: 50px; } 
.bestItem .product .img { width: 400px; height: 400px; } 
.bestItem .product .img img { width: 100%; height: 100%; object-fit: contain; } 
.bestItem .product .text { display: flex; flex-direction: column; align-items: center; gap: 20px; } 
.bestItem .product .text .p-cate { font-size: 18px; font-weight: 700; letter-spacing: -0.75px; color: #f15a24; font-family: 'Paperlogy'; } 
.bestItem .product .text .pName { font-size: 20px; letter-spacing: -0.75px; color: #000; font-family: 'Paperlogy'; } 
.bestItem .product .text .pBrand { color: #555; font-size: 16px; letter-spacing: -0.75px; font-family: 'Paperlogy'; } 
.bestItem .product .text .viewDetail { display: flex; flex-direction: row; align-items: center; } 
.bestItem .product .text .viewDetail span { font-size: 14px; letter-spacing: -0.75px; font-weight: 500; color: #000; transition: all 0.3s; } 
.bestItem > .product .text .viewDetail .arrowRight { width: 24px; height: 24px; background: url(/assets/images/main/section02/arrow-right-view.svg) no-repeat 50% 50%; background-size: contain; filter: grayscale(1) brightness(0); transition: all 0.3s; } 
.bestItem .product .text .viewDetail:hover span { color: #f15a24; font-weight: 600; } 
.bestItem .product .text .viewDetail:hover .arrowRight { filter: grayscale(0) brightness(1); } 
.bestContr { max-width: 1600px; margin: 0 auto; display: flex; align-items: center; justify-content: center; gap: 20px; padding: 50px 20px; } 

.bestPagination { width: 100%; position: relative; height: 2px; background-color: #e5e5e5; /* 기본 바 색상 */}

.bestPagination .swiper-pagination-progressbar-fill { background-color: #f15a24; /* 진행 색상 */
 height: 2px; width: 100%; /* 기본적으로 너비를 100%로 설정 */}

.bestContr .contr { display: flex; align-items: center; justify-content: center; gap: 10px; } 
.bestContr .contr .bestPrev { width: 30px; height: 30px; display: block; background: url(/assets/images/main/section02/Arrow-Left-slide.svg) no-repeat 50% 50%; background-size: contain; filter: grayscale(1) brightness(0); transition: all 0.3s; } 
.bestContr .contr .bestPrev:hover { filter: grayscale(0) brightness(1); } 
.bestContr .contr .bestNext { width: 30px; height: 30px; display: block; background: url(/assets/images/main/section02/Arrow-Right-slide.svg) no-repeat 50% 50%; background-size: contain; filter: grayscale(1) brightness(0); transition: all 0.3s; } 
.bestContr .contr .bestNext:hover { filter: grayscale(0) brightness(1); } 
.bestContr .contr .bestPlay { display: flex; flex-direction: row; justify-content: center; align-items: center; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #ddd; background-color: #fff; position: relative; transition: all 0.3s; } 
.bestContr .contr .bestPlay:hover { background-color: #ff6e3a; border-color: #ff6e3a; } 
.bestContr .contr .bestPlay i.pause { display: block; width: 20px; height: 20px; background: url(/assets/images/main/section02/stop-slide.svg) no-repeat 50% 50%; background-size: contain; transition: all 0.3s; } 
.bestContr .contr .bestPlay i.start { display: block; width: 20px; height: 20px; background: url(/assets/images/main/section02/start-icon.svg) no-repeat 50% 50%; background-size: contain; display: none; transition: all 0.3s; } 
.bestContr .contr .bestPlay.on { background-color: #ff6e3a; border-color: #ff6e3a; } 
.bestContr .contr .bestPlay.on i.start { display: block; } 
.bestContr .contr .bestPlay.on i.pause { display: none; } 

@media screen and (max-width: 800px){
 .bestContr .contr { display: none; } 
 }
