.ViewDetails { display: flex; padding: 100px 0; background-color: #fff; } 
.DetailTitle { display: flex; flex-direction: row; max-width: 1000px; width: 100%; margin: 0 auto; } 
.DetailTitle .TitleImage { width: 500px; height: 500px; display: flex; background-color: #FDFBF4; padding: 50px; } 
.DetailTitle .TitleImage img { width: 100%; height: 100%; object-fit: cover; } 

.TitleText { width: 500px; height: 500px; display: flex; background-color: #fff; padding: 50px; gap: 50px; } 
.TextWrap { display: flex; flex-direction: column; align-items: flex-start; gap: 10px; } 
.TitleText .CategoytyWrap { display: flex; flex-direction: row; align-items: center; gap: 10px; } 
.TitleText .cate { color: #F15A24; text-align: center; font-family: Paperlogy; font-size: 20px; font-style: normal; font-weight: 700; line-height: 140%; /* 28px */
letter-spacing: -0.75px; } 
.TitleText .subcate { color: #F15A24; text-align: center; font-family: Paperlogy; font-size: 16px; font-style: normal; font-weight: 700; line-height: 140%; letter-spacing: -0.75px; } 
.TitleText .subcate::before { content: '-'; margin-right: 10px; } 
.TitleText .name { overflow: hidden; color: #000; text-align: center; text-overflow: ellipsis; font-family: Paperlogy; font-size: 18px; font-style: normal; font-weight: 600; line-height: 140%; /* 42px */
letter-spacing: -0.75px; } 
.TitleText .brand { color: #727272; text-align: center; font-family: Paperlogy; font-size: 14px; font-style: normal; font-weight: 600; line-height: 140%; /* 28px */
letter-spacing: -0.75px; } 


.Details{display:flex; padding: 30px 0; width: 100%;}
.Details .description{max-width: 1000px; width: 100%; margin: 0 auto;}
.Details .description img{width: 100%;height: auto; object-fit: contain;}
.BackButtonSection { margin:50px 0; text-align: center; } 

.backButton { background-color: #fff; color: #F15A24; padding: 10px 20px; cursor: pointer; font-family: Paperlogy; font-size: 18px; font-style: normal; font-weight: 600; border-radius: 5px; font-size: 16px; border: 1px solid #F15A24; transition: all 0.3s; } 

.backButton:hover { background-color: #F15A24; color: #fff; } 


@media screen and (max-width: 1280px){
 .DetailTitle { flex-direction: column; } 
 .DetailTitle .TitleImage { width: 100%; } 
 .DetailTitle .TitleImage img{ width: 100%; height: auto; object-fit: contain; } 
 .TitleText { width: 100%; height: auto; } 
 }