@charset "utf-8";
/* 폰트 */
/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src:
    local('Pretendard Black'),
    url('/assets/fonts/Pretendard-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  src:
    local('Pretendard ExtraBold'),
    url('/assets/fonts/Pretendard-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src:
    local('Pretendard Bold'),
    url('/assets/fonts/Pretendard-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src:
    local('Pretendard SemiBold'),
    url('/assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src:
    local('Pretendard Medium'),
    url('/assets/fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src:
    local('Pretendard Regular'),
    url('/assets/fonts/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src:
    local('Pretendard Light'),
    url('/assets/fonts/Pretendard-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  font-style: normal;
  src:
    local('Pretendard ExtraLight'),
    url('/assets/fonts/Pretendard-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  font-style: normal;
  src:
    local('Pretendard Thin'),
    url('/assets/fonts/Pretendard-Thin.woff2') format('woff2');
}

/* SUITE */
@font-face {
  font-family: 'SUITE';
  font-weight: 300;
  src: url('/assets/fonts/SUITE-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 400;
  src: url('/assets/fonts/SUITE-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 500;
  src: url('/assets/fonts/SUITE-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 600;
  src: url('/assets/fonts/SUITE-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 700;
  src: url('/assets/fonts/SUITE-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 800;
  src: url('/assets/fonts/SUITE-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 900;
  src: url('/assets/fonts/SUITE-Heavy.woff2') format('woff2');
}

/* Paperloogy */
@font-face {
  font-family: 'Paperlogy';
  font-weight: 100;
  src: url('/assets/fonts/Paperlogy-1Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 200;
  src: url('/assets/fonts/Paperlogy-2ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 300;
  src: url('/assets/fonts/Paperlogy-3Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 400;
  src: url('/assets/fonts/Paperlogy-4Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 500;
  src: url('/assets/fonts/Paperlogy-5Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 600;
  src: url('/assets/fonts/Paperlogy-6SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  src: url('/assets/fonts/Paperlogy-7Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  src: url('/assets/fonts/Paperlogy-8ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 900;
  src: url('/assets/fonts/Paperlogy-9Black.woff2') format('woff2');
}

/* GmarketSans */
@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  src: url('/assets/fonts/GmarketSansLight.woff2') format('woff2');
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  src: url('/assets/fonts/GmarketSansMedium.woff2') format('woff2');
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  src: url('/assets/fonts/GmarketSansBold.woff2') format('woff2');
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  font-family: 'Pretendard', 'Noto Sans KR', 'Malgun Gothic', 'dotum', '돋움', 'gulim', '굴림',
    'Tahoma';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
button {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
html,
body {
  min-height: 100%;
}
html {
  /*min-width:320px; max-width:100%; */
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
dl,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dd {
  margin: 0;
}
a {
  color: #242a38;
  text-decoration: none;
}
a,
button {
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
input,
textarea {
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #ddd;
}
input:focus {
  border-radius: 0;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #999999;
}
button {
  border-radius: 0;
  color: #777;
  cursor: pointer;
}
label {
  cursor: pointer;
}
select {
  border-radius: 0;
  -webkit-border-radius: 0;
}

p {
  margin: 0;
}
i,
em,
address,
cite {
  font-style: normal;
}
hr {
  display: none;
}

*:hover,
*:focus,
*:checked {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: pretendard;
  font-size: 0;
}
:-ms-input-placeholder {
  color: #888;
}
::-ms-input-placeholder {
  color: #888;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #b4b3af;
}

.srll {
  padding: 0 5px 0 0;
  overflow-y: scroll;
  box-sizing: border-box;
}
.srll::-webkit-scrollbar {
  width: 5px;
}
.srll::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgb(229 229 229 / 100%);
  border-radius: 2px;
}
.srll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.wrll {
  padding: 0 0 10px 0;
  overflow-x: scroll;
  box-sizing: border-box;
}
.wrll::-webkit-scrollbar {
  height: 5px;
}
.wrll::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgb(229 229 229 / 100%);
  border-radius: 2px;
}
.wrll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal {
  opacity: 0;
  position: absolute;
  right: 0;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  opacity: 0;
  position: absolute;
  right: 0;
}

.wrap {
  padding: 0 16px;
}

.skip {
  display: none !important;
}
.nobr {
  border-radius: 0 !important;
}
body.act {
  overflow: hidden;
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes bottomin {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes bottomin {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@-webkit-keyframes bottomout {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}

@keyframes bottomout {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 100px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 100px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 100px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 100px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.w50 {
  width: 50px !important;
}
.w60 {
  width: 60px !important;
}
.w70 {
  width: 70px !important;
}
.w80 {
  width: 80px !important;
}
.w90 {
  width: 90px !important;
}
.w100 {
  width: 100px !important;
}
.w120 {
  width: 120px !important;
}
.w130 {
  width: 130px !important;
}
.w140 {
  width: 140px !important;
}
.w150 {
  width: 150px !important;
}
.w160 {
  width: 160px !important;
}
.w170 {
  width: 170px !important;
}
.w180 {
  width: 180px !important;
}
.w200 {
  width: 200px !important;
}
.w250 {
  width: 250px !important;
}
.w300 {
  width: 300px !important;
}
.w320 {
  width: 320px !important;
}
.w350 {
  width: 350px !important;
}
.w360 {
  width: 360px !important;
}
.w400 {
  width: 400px !important;
}
.w500 {
  width: 500px !important;
}

.minw100 {
  min-width: 100px !important;
}

.maxw130 {
  max-width: 130px !important;
}
.maxw150 {
  max-width: 150px !important;
}
.maxw220 {
  max-width: 220px !important;
}
.maxw240 {
  max-width: 240px !important;
}
.maxw250 {
  max-width: 250px !important;
}
.maxw270 {
  max-width: 270px !important;
}
.maxw400 {
  max-width: 400px !important;
}
.maxw410 {
  max-width: 410px !important;
}
.maxw480 {
  max-width: 480px !important;
}
.maxw510 {
  max-width: 510px !important;
}
.maxw520 {
  max-width: 520px !important;
}
.maxw800 {
  max-width: 800px !important;
}
.maxw900 {
  max-width: 900px !important;
}
.maxw930 {
  max-width: 930px !important;
}
.maxw1000 {
  max-width: 1000px !important;
}
.maxw1400 {
  max-width: 1400px !important;
}

.w9p {
  width: 9% !important;
}
.w10p {
  width: 10% !important;
}
.w15p {
  width: 15% !important;
}
.w20p {
  width: 20% !important;
}
.w30p {
  width: 30% !important;
}
.w40p {
  width: 40% !important;
}
.w50p {
  width: 50% !important;
}
.w60p {
  width: 60% !important;
}
.w70p {
  width: 70% !important;
}
.w80p {
  width: 80% !important;
}
.w90p {
  width: 90% !important;
}
.w100p {
  width: 100% !important;
}
