.bestPagination.swiper-pagination-progressbar { width: 100%; position: relative !important; height: 2px; background-color: #e5e5e5; /* 기본 바 색상 */}
.bestPagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background-color: #f15a24 !important; /* 진행 색상 */
 height: 2px; width: 100%; /* 기본적으로 너비를 100%로 설정 */}