.pagination { max-width: 1600px; display: flex; flex-direction: row; align-items: center; gap: 10px; width: 100%; margin: 0 auto; justify-content: center; padding: 20px 0; } 
.pageNumbers { display: flex; flex-direction: row; align-items: center; gap: 10px; } 
.paginationButton { padding: 2px; cursor: pointer; border: 1px solid #ddd; border-radius: 5px; background-color: #fff; transition: background-color 0.3s ease, color 0.3s ease; } 
.paginationButton p { font-size: 12px; width: 25px; height: 25px; display: flex; flex-direction: row; align-items: center; justify-content: center; } 
.paginationButton:hover { background-color: #f15a24; color: white; } 
.paginationButton:hover .ico { filter: brightness(10); } 
.paginationButton:disabled { cursor: not-allowed; opacity: 0.5; background-color: #dfdfdf; } 
.paginationButton:disabled .ico { filter: brightness(10); } 
.pageNumbers { display: flex; align-items: center; } 
.active { background-color: #f15a24; color: white; font-weight: bold; } 
