/* footer */
.footer { background-color: #302f2e; padding: 100px 0; } 
.footer .wrap { max-width: 1600px; width: 100%; margin: 0 auto; padding: 0 16px; } 
.footer .inner { position: relative; display: flex; flex-direction: column; gap: 40px; } 
.footer .inner .ftLogo { display: flex; align-items: flex-end; } 
.footer .inner .ftLogo .img { width: 200px; } 
.footer .inner .ftLogo .img img { width: 100%; object-fit: contain; } 
.footer .inner .ftCutomer { position: absolute; bottom: 0; right: 0; } 
.footer .inner .ftCutomer .tellBox { display: flex; flex-direction: column; align-items: flex-end; gap: 10px; } 
.footer .inner .ftCutomer .tellBox .tit p { color: #fff; font-family: Paperlogy; font-size: 16px; font-weight: 600; letter-spacing: -0.75px; } 
.footer .inner .ftCutomer .tellBox .num strong { overflow: hidden; color: #f15a24; font-family: Paperlogy; font-size: 30px; font-weight: 900; } 
.footer .inner .ftInfo { display: flex; flex-direction: column; gap: 20px; } 
.footer .inner .ftInfo .info { display: flex; flex-direction: row; align-items: center; gap: 10px; } 
.footer .inner .ftInfo .info .txt { display: flex; flex-direction: row; align-items: center; gap: 10px; } 
.footer .inner .ftInfo .info .txt + .txt::before { content: ""; width: 1px; height: 10px; background-color: #ddd; display: block; } 
.footer .inner .ftInfo .txt p { letter-spacing: -0.75px; font-family: "Paperlogy"; font-size: 14px; font-weight: 400; } 
.footer .inner .ftInfo .txt .tit { color: #ddd; } 
.footer .inner .ftInfo .txt .inf { color: #fff; } 

@media screen and (max-width: 1280px){
 .footer .inner .ftCutomer { position: static; } 
 .footer .inner .ftCutomer .tell-box { align-items: flex-start; } 
 }
