.sub { width: 100%; height: 100%; display: flex; } 
.sec01 { width: 100%; height: 500px; overflow: hidden; position: relative; } 
.categoryImage { width: 100%; height: 100%; background-color: #000; } 
.sec01 .categoryImage img { width: 100%; height: 100% !important; object-fit: cover; opacity: 0.5; position: absolute; display: block; top: 0; } 

/* sec02 */
.sec02 { width: 100%; background: #fff; padding: 50px 0; display: flex; flex-direction: column; align-items: center; gap: 30px; } 
.sec02 .title { display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 5px; } 
.sec02 .title h3 { font-size: 20px; font-family: 'Pretendard'; letter-spacing: -0.75px; } 
.sec02 .title p { font-size: 16px; font-family: 'Pretendard'; letter-spacing: -0.75px; display: flex; flex-direction: row; align-items: center; gap: 5px; } 
.sec02 .title h3 + p::before { content: '-'; font-size: 16px; display: flex; } 
.subCategoryTabs { display: flex; flex-direction: row; width: 100%; gap: 20px; max-width: 1200px; width: 100%; margin: 0 auto; padding: 0 16px; align-items: center; justify-content: center; } 
.subCategoryTabs .subCategoryLink { width: 100%; max-width: 100px; padding: 25px 10px; background-color: #fff; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; transition: all 0.3s; } 
.tabInner { display: flex; flex-direction: column; align-items: center; gap: 10px; } 
.tabIcon { padding: 10px; border-radius: 10px; background-color: #f5f5f5; transition: all 0.3s; } 
.tabIcon img { width: 24px; height: 24px; } 
.tabInner p { font-size: 14px; font-family: 'Pretendard'; letter-spacing: -0.75px; font-weight: 500; text-align: center; } 
.subCategoryTabs .subCategoryLink:hover .tabIcon { background-color: #fbb03b; } 
.subCategoryTabs .subCategoryLink.active .tabIcon { background-color: #f15a24; } 
.subCategoryTabs .subCategoryLink.active .tabIcon img { filter: invert(1); } 
.subCategoryTabs .subCategoryLink.active .tabInner p { color: #f15a24; } 

/* productList */
.productList { max-width: 1600px; width: 100%; background: #fff; padding: 50px 20px; display: grid; margin: 0 auto; justify-content: center; justify-items: center; align-items: start; gap: 30px; grid-template-columns: 1fr 1fr 1fr 1fr; } 
.notYet { max-width: 1000px; margin: 0 auto; text-align: center; padding: 50px 0; } 
.notYet p { font-size: 14px; } 

@media screen and (max-width: 475px){
 .subCategoryTabs { gap: 10px; } 
 .subCategoryTabs .subCategoryLink { max-width: 60px; } 
 .tabInner p { font-size: 12px; font-family: 'Pretendard'; letter-spacing: -0.75px; font-weight: 500; color: #727272; } 
 }


 @media screen and (max-width: 1230px){
    .productList { grid-template-columns: 1fr 1fr 1fr; } 
    }

 @media screen and (max-width: 768px){
 .productList { grid-template-columns: 1fr 1fr;padding: 10px; gap: 10px; } 
 }
